{% extends 'default.html' %}

{% block title %}{{directory.name}} | Directory{% endblock %}

{% block content %}
<h1>{{directory.name}}</h1>


{% if contacts %}
<ul>
	{% for contact in contacts %}
	<li><a href="{{url_for('contact', contact_id=contact.external_id)}}">{{contact.name}}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>This directory does not have any contacts assigned to it yet</p>
{% endif %}


<contact-searcher directory-id="{{directory.external_id}}">
<details open>
	<summary>Add someone to the directory</summary>

	<form class="search-form" class="cluster">
		<input name="directory-id" value="{{directory.external_id}}" type="hidden"/>
		<label>Contact name: <input name="name" required maxlength="100" required></label>
		<button type="submit">Find</button>
	</form>


	<div id="contact-search-results">
	</div>

</details>
</contact-searcher>

{% endblock %}

{% block script %}

<script defer>
	class ContactSearcher extends HTMLElement {
		constructor() {
			super();
			console.log('Hello world');
		}

		connectedCallback() {
			console.log('Component connected');

			const searchResultsElement = this.querySelector('#contact-search-results');

			function handleSearch(event) {
				event.preventDefault();
				event.target.disabled = true;

				const formData = new FormData(event.target);

				console.log(formData);

				const apiUrl = `/directory/${formData.get('directory-id')}/find-contacts/by-name/${formData.get('name')}`;
				console.log(apiUrl);
				fetch(apiUrl).then((response) => {

					console.log(response);

					response.text().then((responseHtml) => {
						searchResultsElement.innerHTML = responseHtml;
					});
				}).finally(() => event.target.disabled = false);
			}

			this.querySelector('.search-form').addEventListener('submit', handleSearch);
		}
	}

	customElements.define('contact-searcher', ContactSearcher);
</script>

{% endblock %}