{% extends 'default.html' %}

{% block title %}{{directory.name}} | Directory{% endblock %}

{% block page_stylesheet %}
<link href="{{url_for('static', filename='css/directories.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{directory.name}}</h1>


{% if contacts %}
<ul class="mb3">
	{% for contact in contacts %}
	<li><a href="{{url_for('contact', contact_id=contact.external_id)}}">{{contact.name}}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>This directory does not have any contacts assigned to it yet</p>
{% endif %}


<contact-searcher directory-id="{{directory.external_id}}">
<details open>
	<summary>Add someone to the directory</summary>

	<form class="search-form stack">
		<input name="directory-id" value="{{directory.external_id}}" type="hidden"/>
		<label for="name">Contact name: </label>
		<input id="name" name="name" required maxlength="100" required>
		<button type="submit">Find</button>
	</form>


	<div id="contact-search-results">
	</div>

</details>
</contact-searcher>

{% endblock %}

{% block script %}

<script defer>
	const componentDirectory = '{{url_for("static", filename="js")}}';
	const components = [
		['contact-searcher', 'ContactSearcher'],
	]
	for ([tagName, componentName] of components) {
		if(document.querySelector(tagName)) {
			import(`${componentDirectory}/${componentName}.js`);
		}
	}
</script>

{% endblock %}