{% extends 'default.html' %}

{% block title %}Contact | {{contact.name}}{% endblock %}

{% block content %}
<h1>{{contact.name}}</h1>

{% if contact.emails %}
<h2>Emails</h2>

<ul class="list-reset flex flex-column">
	{% for email in contact.emails %}
	<li>{{email.label}}: <a href="mailto:{{email.email}}">{{email.email}}</a></li>
	{% endfor %}
</ul>

{% endif %}

{% if contact.addresses %}
<h2>Addresses</h2>

<ul class="list-reset flex">
	{% for address in contact.addresses %}
	<li>
		<h3>{{address.label}}</h3>
		<pre>{{address.address}}</pre>
	</li>
	{% endfor %}
</ul>
{% endif %}

<details>
	<summary>Add a new address</summary>
	<form method="POST"
		action="{{url_for('address_add_form')}}">
		<input type="hidden" name="contact_id" value="{{contact.external_id}}" />
		{% include 'forms/address.html' %}

		<button type="submit">Save</button>
	</form>
</details>

<details>
	<summary>Add a new email</summary>
	<form method="POST"
		action="{{url_for('email_add_form')}}">
		<input type="hidden" name="contact_id" value="{{contact.external_id}}" />
		{% include 'forms/email.html' %}

		<button type="submit">Save</button>
	</form>
</details>

{% endblock %}